<table>
  <thead>
    <tr>
      <th *ngFor="let item of priceTabMock">{{ item.header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td *ngFor="let item of priceTabMock">
        <ng-container *ngIf="!(productSelected?.id === product.id && columnSelected === item.prop) else editing">
          {{ item.type === 'total' ? ([product] | totalSum) : product[item.prop] }}
          <ng-container *ngIf="item.prop === 'discount' || (item.prop === 'price' && product[item.prop] === 1)">
            <a (click)="editColumn(product, item.prop)">✎</a>
          </ng-container>
        </ng-container>
        <ng-template #editing>
          <input
            style="max-width: 5rem"
            step="5"
            min="0"
            max="100"
            type="number"
            [ngModel]="productSelected[columnSelected]"
            (ngModelChange)="changeColumn($event)"
          />
          <a style="margin-left: 8px" (click)="saveColumn()">✓</a>
        </ng-template>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td><td></td><td></td>
      <td> {{ products | totalSum: false }} </td><td></td>
      <td> {{ products | totalSum }} </td>
    </tr>
  </tfoot>
</table>
